# Core DL stack
torch
torchvision
torchaudio

# Hugging Face ecosystem
transformers
datasets==2.21.0
huggingface-hub==0.24.6


# Image augmentations
albumentations==1.4.3
opencv-python-headless==4.10.0.84

# Utilities
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
scikit-learn==1.5.1
ultralytics
scipy==1.13.1

# Needed by Albumentations and HF
typing_extensions>=4.10.0


